@import "tailwindcss";

:root {
  --background: #FEFEFE;
  --foreground: #19202B;
  --secondary: #EFF1F3;
  --secondary-foreground: #818385;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --font-grostesk: var(--font-grotesk);
  --font-mono: var(--font-geist-mono);
}
  
body {
  background: var(--background);
  color: var(--foreground);
}

body,html{
  width: 100%;
  height: 100%;
}